*{
              width: 100;
              height: 100;
              font-size: 25px;
              background:cadetblue;
}
ul{
              color: rgb(0, 0, 0);
              box-shadow: inset 2px 3px 4px #000;
              background-color: darkorange;
              text-shadow: 2px 3px 4px #000;
}
ol{
              color: rgb(0, 0, 0);
              box-shadow: inset 2px 3px 4px #000;
              background-color: darkorange;
              text-shadow: 2px 3px 4px #000;        
}
h1{
              color: darkslategrey;
              text-shadow: 2px 3px 4px #000;
}
h2{
              color: darkslategray;
}
li{
              color: rgb(4, 51, 4);
              text-shadow: 2px 3px 4px rgb(0, 0, 0);
              box-shadow: 2px 3px 4px #000;
              width: 200px;
}